pipeline/pl_labs.json
{
	"name": "pl_labs",
	"properties": {
		"activities": [
			{
				"name": "Flag",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Flag",
					"value": true
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Flag",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('Flag')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Result",
								"value": {
									"value": "@div(1, 0)",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Result",
							"description": "Success!",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Result",
								"value": "Success!"
							}
						}
					]
				}
			}
		],
		"variables": {
			"Flag": {
				"type": "Boolean"
			},
			"Result": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-09-07T13:00:11Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}